@{
    ViewBag.Title = "Подтверждение регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">
        <h2>Поздравляем!</h2>
        <div style="font-size: 120%">
            Регистрация успешно завершена
        </div>
        <br/>
        @Html.ActionLink("На главную", "Index","Home",null,new{@class = "btn btn-1"})
    </div>
</div>

