
@{
    ViewBag.Title = "RegistrateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="container">
        <h2>Подтвердите регистрацию</h2>
        <div style="font-size: 120%">
            На указанный Вами адрес электронной почты было выслано письмо. Для подтверждения регистрации перейдите по ссылке, указанной в письме.
        </div>
    </div>
</div>
