@import url(http://fonts.googleapis.com/css?family=Dorsa);
@charset "utf-8";
/* CSS Document */
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}

.color-1 {
	color: #efedef;
}

.img-indent {
	margin: 0 30px 0 0;
	float: left;
}

.img-indent1 {
	margin: 1px 29px 16px 0;
	float: left;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.center {
	text-align: center;
}

.spinner {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../Images/Icons/spinner.gif) 50% 50% no-repeat #fff;
}

.preloader {
	background: url(../../Images/Icons/loader.gif) center center no-repeat;
}

.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	height: 0;
	width: 100%;
}

.m-top {
	margin-top: -7px;
}

.overflow.extra {
	overflow: visible;
}

.left-0 {
	margin-left: 0 !important;
}

.overflow {
	overflow: hidden;
}

.inner-1 {
	padding-right: 30px;
}
/*------ header ------- */
header {
	z-index: 50;
	background: firebrick;
}
/* navbar */
.navbar_ {
	margin: 0;
	position: relative;
}

	.navbar_ .navbar-inner_ {
		padding: 0;
		margin: 0;
		border: none;
		min-height: inherit;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}
	/*nav*/
	.navbar_ .container {
		position: relative;
	}

.nav-collapse_ {
	padding: 0;
	z-index: 10;
	float: right;
}

	.nav-collapse_ .nav li {
		margin: 0;
		padding: 0;
		position: relative;
		zoom: 1;
	}

	.nav-collapse_ .nav > li {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: none;
		margin-left: 22px;
	}

	.nav-collapse_ .nav li a {
		-webkit-text-shadow: none;
		text-shadow: none;
		text-decoration: none;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		font-weight: normal;
		color: #eee;
		outline: none;
	}

	.nav-collapse_ .nav > li > a {
		margin: 0;
		padding: 30px 0 32px;
		display: block;
		background: none;
		position: relative;
		z-index: 20;
		width: 84px;
		/* -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;*/
	}

		.nav-collapse_ .nav > li > a .sf-sub-indicator {
			position: absolute;
			width: 9px;
			height: 6px;
			background: url(../../Images/Icons/indicator1.png) no-repeat 0 0;
			left: 50%;
			bottom: 21px;
			margin-left: -5px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}

		.nav-collapse_ .nav > li.sfHover > a,
		.nav-collapse_ .nav > li.sfHover > a:hover,
		.nav-collapse_ .nav > li > a:hover,
		.nav-collapse_ .nav > li.active > a,
		.nav-collapse_ .nav > li.active > a:hover {
			background: url("../../Images/Icons/bg-content.jpg") repeat scroll 50% 50% transparent;
			color: #ffffff;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

			.nav-collapse_ .nav > li.sfHover > a .sf-sub-indicator,
			.nav-collapse_ .nav > li.active > a .sf-sub-indicator {
				background-position: 0 bottom;
			}

.sub-menu > a {
	position: relative;
}

.nav-collapse_ .nav ul {
	position: absolute;
	display: none;
	width: 120px;
	left: -18px;
	top: 84px;
	list-style: none;
	zoom: 1;
	z-index: 9;
	background: #000;
	padding: 12px 0;
	margin: 0;
}

	.nav-collapse_ .nav ul li {
		text-align: center;
	}

		.nav-collapse_ .nav ul li a {
			padding: 4px 0;
			display: block;
			background: none;
		}

.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
	text-decoration: none;
	color: #ffffff;
	background: firebrick;
}

.nav-collapse_ .nav ul .sf-sub-indicator {
	display: none;
}

.nav-collapse_ .nav ul ul li a {
	color: #ffffff;
}

.nav-collapse_ .nav li ul ul li a:hover {
	text-decoration: none;
	color: #000000;
}
/*------ logo ------- */
.navbar_ .brand_ {
	display: block;
	float: left;
	font-size: 0;
	line-height: 0;
	padding: 12px 0 0 4px;
	margin: 0;
}

	.navbar_ .brand_ h1 {
		font-size: 0;
		line-height: 0;
	}
/*------ h1, h2, h3, h4, h5, h6 ------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	color: firebrick;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
}

h1 {
	font-size: 70px;
	line-height: 74px;
}

header h1 {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 50px;
	line-height: 52px;
}

h3 {
	font-size: 30px;
	line-height: 34px;
	margin: 32px 0 15px;
	font-weight: normal;
}

.content-extra h3 {
	margin: 25px 0;
}

h4 {
	font-size: 48px;
	line-height: 50px;
	margin: 21px 0 20px;
}

h5 {
	font-size: 18px;
	color: #939393;
	font-weight: 600;
	letter-spacing: -1px;
}

p {
	padding-bottom: 25px;
	margin: 0;
}
/*--- header end ------*/
/*------ content ------- */
#content {
	position: relative;
    min-height: 500px;
}

.bg-content {
	background: url(../../Images/Icons/bg-content.jpg) 50% 50%;
}

.block-slogan {
	overflow: hidden;
	padding-bottom: 44px;
}

	.block-slogan h2:first-letter {
		color: firebrick;
		font-weight: normal;
	}

	.block-slogan h2 {
		float: left;
		margin: 0;
		padding-right: 58px;
		line-height: 54px;
	}

	.block-slogan p {
		border-left: 1px solid #454545;
		padding: 0 0 0 26px;
	}

	.block-slogan div {
		overflow: hidden;
	}

.row-1, .row-2 {
	background: #fff;
	padding: 14px 0;
}

.row-2 {
	background: #eee;
	text-align: center;
	border-top: 2px dashed #ccc;
	border-bottom: 2px dashed #ccc;
	font-style: italic;
}

	.row-2 h3 {
		margin: 10px 0;
		font-style: normal;
	}

.ic {
	border: 0;
	float: right;
	background: #fff;
	color: #f00;
	width: 50%;
	line-height: 10px;
	font-size: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding: 0;
}
/*------ thumbnails-1 ------- */
.thumbnails-1 {
	margin: 0;
	list-style: outside none;
}

	.thumbnails-1 > li {
		margin-bottom: 40px;
	}

	.thumbnails-1 .thumbnail-1 {
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0;
		line-height: 20px;
	}

		.thumbnails-1 .thumbnail-1 section {
			padding-top: 5px;
		}

			.thumbnails-1 .thumbnail-1 section h3 {
				color: firebrick;
				font-weight: normal;
				font-size: 16px;
				margin: 0 0 5px;
			}

.border-horiz {
	background: url(../../Images/Icons/border-horiz.gif) repeat-x 0 0;
	height: 2px;
	margin: 16px 0 0;
}

	.border-horiz.extra {
		margin-bottom: 10px;
	}

.txt-1 {
	color: #ffffff;
	padding: 3px 0 10px;
}
/*------ list-services ------- */
.list-services .thumbnail-1 {
	background: #000000;
	padding: 10px;
}

.list-services a {
	margin-bottom: 10px;
	display: inline-block;
}

.list-services p {
	padding-bottom: 20px;
}

.list-services section {
	padding: 0 20px;
	text-align: center;
}

.list-services li {
	margin-bottom: 30px;
}

.quote-1 {
	border: medium none;
	color: #7f7f7f;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}

.badge {
	font-size: 41px;
	line-height: 44px;
	width: 67px;
	-webkit-text-shadow: 1px 1px #e8eaea;
	text-shadow: 1px 1px #e8eaea;
	text-align: center;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	background: #d1cfd0;
	-webkit-box-shadow: 1px 1px #dddcde;
	-moz-box-shadow: 1px 1px #dddcde;
	box-shadow: 1px 1px #dddcde;
	float: left;
	margin-right: 18px;
	color: #1a1a1a;
	padding: 11px 0;
	border-right: 1px solid #eaedee;
	border-bottom: 1px solid #eaedee;
}
/*------ lists ------- */
/*------ list ------- */
.list.extra {
	width: 100%;
	margin: 0;
	float: none;
	padding-top: 5px;
}

.list.extra2 {
	width: 170px;
	padding-top: 5px;
}

.list-pad {
	padding-right: 28px;
}

.list {
	list-style: none outside;
	padding-top: 14px;
	float: left;
	width: 106px;
	margin: 0;
}

	.list li {
		background: url(../../Images/Icons/marker-1.png) no-repeat 0 7px;
		padding-left: 10px;
		padding-bottom: 10px;
	}

		.list li.last {
			padding-bottom: 0;
		}

	.list.extra1 a,
	.list.extra2 a {
		color: #7f7f7f;
	}

		.list.extra1 a:hover,
		.list.extra2 a:hover {
			color: firebrick;
		}

	.list li a {
		color: firebrick;
		display: inline-block;
	}

		.list li a:hover {
			text-decoration: none;
			color: #ffffff;
		}
/*----------- list-photo--------------*/
.list-photo {
	list-style: none outside;
	margin: 0;
	overflow: hidden;
	margin-left: -30px;
}

	.list-photo li {
		float: left;
		margin: 0 0 30px 30px;
	}
/*----------- .portfolio --------------*/
.portfolio {
	list-style: none outside;
	margin: 0;
}

	.portfolio li {
		float: left;
		margin: 0 0 30px 30px;
	}

.magnifier {
	opacity: 1;
	position: relative;
	height: auto;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

	.magnifier:hover {
		opacity: 0.7;
	}

	.magnifier:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		left: 0;
		top: 0;
		background: url('../../Images/Icons/magnifier.png') center center no-repeat #000000;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.magnifier:hover:after {
		opacity: 0.6;
	}
/*----------- .list-blog --------------*/
.list-blog {
	list-style: none outside;
	margin: 0;
}

	.list-blog li {
		/*background: url(../../Images/Icons/border-horiz.gif) repeat-x 0 bottom;*/
		padding-bottom: 40px;
		margin-top: 32px;
	}


		.list-blog li.last {
			background: none;
		}

	.list-blog h3 {
		margin-bottom: 6px;
		margin-top: 0;
	}

	.list-blog img {
		margin: 21px 0 24px;
	}

.meta {
	margin-bottom: 10px;
	overflow: hidden;
}

	.meta a:hover {
		color: firebrick;
		text-decoration: underline;
	}

.date-1 {
	float: left;
	line-height: 18px;
	padding-right: 8px;
	font-size: 12px;
}

.name-author {
	float: left;
	line-height: 18px;
	padding-left: 8px;
	font-size: 12px;
}

	.name-author a {
		text-decoration: none;
		outline: none;
	}

.comments {
	float: right;
	line-height: 18px;
	text-decoration: none;
	font-size: 12px;
}
/*----------- search --------------*/
/* search-form */
#search {
	margin: 0;
	padding: 10px 0 0;
	overflow: hidden;
}

	#search input {
		background: #ffffff;
		border: 1px solid firebrick;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		line-height: 21px !important;
		width: 260px;
		float: left;
		margin: 0 10px 0 0;
		padding: 4px 12px 5px;
		font-size: 14px;
		height: 30px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

		#search input:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

	#search a {
		float: left;
	}
/***** map *****/
.map {
	margin: 0 0 25px;
	padding-top: 10px;
	line-height: 0;
}

	.map iframe {
		border: none;
		width: 100%;
		height: 370px;
	}
/*------ mail & address------- */
.address-1 {
	overflow: hidden;
}

	.address-1 strong {
		color: #7f7f7f;
		display: block;
		font-weight: normal;
	}

	.address-1 span {
		display: inline-block;
		width: 80px;
		color: #ffffff;
	}

.mail-1 {
	text-decoration: underline;
	color: firebrick;
}

	.mail-1:hover {
		text-decoration: none;
	}

.mail-2 {
	text-align: right;
}

	.mail-2 a {
		color: #3c3c3c;
	}

		.mail-2 a:hover {
			text-decoration: underline;
		}
/***** contact form *****/
#contact-form {
	position: relative;
	vertical-align: top;
	z-index: 1;
	margin: 0 0 20px;
	padding-top: 10px;
}

	#contact-form fieldset {
		border: none;
		padding: 0;
		width: 100%;
		overflow: hidden;
	}

	#contact-form label {
		display: inline-block;
		min-height: 40px;
		position: relative;
		margin: 0;
	}

	#contact-form .message {
		min-height: 343px;
		width: 100%;
	}

	#contact-form input,
	#contact-form textarea {
		font-family: 'Open Sans', sans-serif;
		padding: 5px;
		margin: 0;
		font-size: 14px;
		line-height: 20px !important;
		color: #7f7f7f;
		background: none;
		outline: none;
		width: 400px;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 1px dashed firebrick;
	}

	#contact-form input {
		height: 30px;
	}

		#contact-form input:focus,
		#contact-form textarea:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

	#contact-form .area .error {
		float: none;
	}

	#contact-form textarea {
		width: 100%;
		height: 323px;
		resize: none;
		overflow: auto;
	}

	#contact-form .success {
		display: none;
		margin-bottom: 20px;
		color: #000000;
		font-size: 14px;
		line-height: 16px;
		position: relative;
		background: #ffffff;
		padding: 12px 14px;
		text-transform: none;
	}

	#contact-form .error,
	#contact-form .empty {
		color: #f00;
		font-size: 11px;
		line-height: 1.27em;
		display: none;
		overflow: hidden;
		margin-bottom: 5px;
		padding: 2px 4px 6px 4px;
		text-transform: none;
	}

.buttons-wrapper {
	position: relative;
}

	.buttons-wrapper a {
		margin-right: 10px;
		cursor: pointer;
	}

		.buttons-wrapper a:hover {
			text-decoration: none;
		}
/*----------- buttons & links--------------*/
.btn-1 {
	color: #fff;
	background: firebrick;
	padding: 5px 14px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-text-shadow: none;
	text-shadow: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

	.btn-1:hover {
		color: #fff;
		background: #DB420E;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		text-decoration: none;
	}
/* policy */ .policy {
	position: relative;
	margin-top: -3px;
}

	.policy strong {
		display: block;
		color: #ffffff;
		line-height: 16px;
		padding-bottom: 9px;
	}

	.policy p {
		color: #7f7f7f;
		padding-bottom: 21px;
	}
/* block-404 */ .block-404 {
	background: #ffffff;
	margin: 40px 0 30px;
	overflow: hidden;
}

	.block-404 .img-404 {
		float: none;
		width: 100%;
	}

.box-404 {
	padding: 42px 10px 0;
	overflow: hidden;
}

	.box-404 h2 {
		color: firebrick;
		font-size: 80px;
		line-height: 84px;
		font-weight: normal;
		margin: 0;
	}

	.box-404 h3 {
		color: #000000;
		margin: 0 0 21px;
	}

	.box-404 p {
		padding-bottom: 25px;
	}
/* search-form 404 */ #form-search {
	overflow: hidden;
	position: relative;
}

	#form-search input {
		background: #e5e5e5;
		border-top: 1px solid #c3c3c3;
		border-right: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-bottom: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		line-height: 21px !important;
		width: 84%;
		font-size: 14px;
		margin: 0 10px 0 0;
		padding: 4px 12px 5px;
		height: 30px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
	}

		#form-search input:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

	#form-search a {
		float: left;
	}
/*--- content end ------*/
/*------ footer ------- */
footer {
	padding: 20px 0;
}

.privacy {
	color: #1a1a1a;
	padding-top: 6px;
}

	.privacy a {
		color: firebrick;
	}

.list-social {
	list-style: none outside none;
	overflow: hidden;
	margin: 0;
}

	.list-social a {
		width: 30px;
		height: 30px;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

		.list-social a.icon-1 {
			background-image: url(../../Images/Icons/soc-icon-1.png);
		}

		.list-social a.icon-2 {
			background-image: url(../../Images/Icons/soc-icon-2.png);
		}

		.list-social a.icon-3 {
			background-image: url(../../Images/Icons/soc-icon-3.png);
		}

		.list-social a.icon-4 {
			background-image: url(../../Images/Icons/soc-icon-4.png);
		}

		.list-social a.icon-5 {
			background-image: url(../../Images/Icons/soc-icon-5.png);
		}

	.list-social li {
		float: left;
		margin-left: 5px;
	}

	.list-social a:hover {
		background-position: 0 bottom;
	}
/*--- footer end ------*/
@media (min-width: 1300px) {
	.box-404 {
		overflow: hidden;
		padding: 42px 50px 0;
	}

	.block-404 .img-404 {
		width: 770px;
		height: 393px;
		float: left;
	}

	#search input {
		width: 286px;
	}

	#form-search input {
		width: 216px;
	}

	.address-1 strong {
		float: left;
		width: 154px;
	}

	.list-photo li.last {
		margin-right: 0;
	}

	.overflow.extra {
		overflow: hidden;
	}
}

@media (max-width: 1299px) and (min-width: 979px) {
	.overflow.extra {
		overflow: visible;
	}
}

@media (max-width: 1300px) {
	#search input {
		width: 200px;
	}
}

@media (max-width: 979px) {
	#search input {
		width: 127px;
	}

	.block-404 .img-404 {
		margin-left: 0;
	}

	.img-indent1 img {
		width: 100%;
	}

	#contact-form label {
		display: block;
	}

	#contact-form input,
	#contact-form textarea {
		width: 100%;
	}

	.inner-1 {
		padding: 0;
	}

	.block-slogan h2 {
		padding-right: 30px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.navbar_ .btn {
		display: none !important;
	}
	/* navbar */
	.navbar_ {
		margin: 0;
		position: relative;
	}

		.navbar_ .navbar-inner_ {
			padding: 0;
			margin: 0;
			border: none;
			min-height: inherit;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		}
		/*nav*/
		.navbar_ .container {
			position: relative;
		}

	.nav-collapse_ {
		height: auto !important;
		overflow: visible !important;
		clear: none !important;
	}

		.nav-collapse_ .nav > li {
			float: left !important;
			margin-left: 10px;
		}

	.portfolio {
		margin-left: -10px;
	}

		.portfolio li {
			margin-left: 30px;
			width: 45%;
		}

			.portfolio li img {
				width: 100%;
			}

	.img-indent {
		float: none;
		margin: 0 0 18px 0;
	}

		.img-indent img {
			width: 100%;
		}

	#contact-form input,
	#contact-form textarea {
		width: 100%;
	}

	#form-search input {
		width: 74%;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
	/* navbar */
	.nav-collapse_ {
		padding-top: 0;
		padding-right: 0;
	}

	.navbar_ .nav-collapse_ {
		position: absolute;
		left: auto;
		top: 62px;
		right: 0;
	}

	.navbar_ .btn {
		display: inline-block;
		float: right;
		background: firebrick;
		padding: 18px 0 20px;
		text-decoration: none;
		margin: 0;
		font-size: 20px;
		line-height: 24px;
		-webkit-text-shadow: none;
		text-shadow: none;
		color: #ffffff;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		width: 63px;
		text-align: center;
		font-weight: normal;
		position: relative;
	}

		.navbar_ .btn:hover {
			background: #181818;
			color: #ffffff;
		}

		.navbar_ .btn .icon-bar {
			position: absolute;
			width: 9px;
			height: 6px;
			background: url(../../Images/Icons/indicator.png) no-repeat 0 0;
			left: 50%;
			bottom: 12px;
			margin-left: -5px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}

	.nav-collapse_ .nav {
		position: relative;
		zoom: 1;
		z-index: 999;
		width: 113px;
		background: url("../../Images/Icons/bg-content.jpg") repeat scroll 50% 50% transparent;
		padding: 12px 0;
		margin: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

		.nav-collapse_ .nav li {
			background: none;
			margin: 0;
			padding: 0;
			display: block;
			width: 100%;
			text-align: center;
		}

			.nav-collapse_ .nav li a {
				display: block;
				font-weight: normal;
				padding: 8px 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				width: 100%;
			}

		.nav-collapse_ .nav > li.sfHover,
		.nav-collapse_ .nav > li:hover,
		.nav-collapse_ .nav > li.active,
		.nav-collapse_ .nav > li.active {
			background: none;
		}

			.nav-collapse_ .nav > li.sfHover > a,
			.nav-collapse_ .nav > li.sfHover > a:hover,
			.nav-collapse_ .nav > li > a:hover,
			.nav-collapse_ .nav > li.active > a,
			.nav-collapse_ .nav > li.active > a:hover {
				text-decoration: none;
				color: #ffffff;
				background: firebrick;
			}

	.sub-menu > a {
		position: relative;
		display: block;
	}

	.nav-collapse_ .nav ul {
		position: relative;
		display: none;
		width: 100%;
		list-style: none;
		zoom: 1;
		z-index: 9;
		background: #ccc;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
	}

		.nav-collapse_ .nav ul li a {
			display: block;
			font-size: 16px;
			padding: 4px 0;
		}

			.nav-collapse_ .nav ul li a:hover {
				background: #575757 !important;
			}

	.row {
		padding: 0 20px;
	}

	footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.bg-glow {
		background: none;
	}

	.thumbnail-1 > img {
		width: 100%;
	}

	#form-search input {
		width: 70%;
	}

	.portfolio {
		margin-left: -30px;
	}

		.portfolio li {
			float: left;
			margin-left: 30px;
			width: 44%;
		}

			.portfolio li img {
				width: 100%;
			}

	#search input {
		width: 66%;
	}

	.thumbnails-1 .thumbnail-1 img {
		width: 100%;
	}

	.thumbnails-1 {
		margin-left: -20px;
	}

		.thumbnails-1 li {
			float: left;
			width: 45%;
			margin-left: 20px;
		}
}

@media (max-width: 640px) {
	.block-slogan h2 {
		float: none;
		margin-bottom: 16px;
		padding: 0;
	}

	.block-slogan p {
		border: none;
		padding-left: 0;
	}

	.portfolio li {
		float: left;
		margin-left: 30px;
		width: 43%;
	}

		.portfolio li img {
			width: 100%;
		}
}

@media (max-width: 600px) {
	.thumbnails-1 .thumbnail-1 img {
		width: 100%;
	}

	.thumbnails-1 {
		margin-left: 0;
	}

		.thumbnails-1 li {
			float: none;
			width: 100%;
			margin-left: 0;
		}

	.img-indent {
		float: none;
		margin: 0 0 16px 0;
	}

		.img-indent img {
			width: 100%;
		}
}

@media (max-width: 480px) {
	.navbar_ .brand_ {
		padding: 2px 0;
	}

	.list-social {
		float: none !important;
	}

	.privacy {
		float: none !important;
		padding-left: 10px;
	}

	.portfolio {
		margin: 0;
	}

		.portfolio li img {
			width: 100%;
		}

		.portfolio li {
			float: none;
			margin: 0 0 20px 0;
			width: 100%;
		}

	#form-search input {
		width: 66%;
	}

	#search input {
		width: 66%;
	}

	footer {
		padding: 31px 0;
		text-align: center;
	}

	#contact-form textarea {
		height: 280px;
	}

	#contact-form .message {
		min-height: 290px;
	}
}

@media (max-width: 320px) {
	.brand_ a img {
		width: 190px;
		height: auto;
	}

	.list-photo {
		margin: 0;
	}

		.list-photo li {
			float: none;
			margin: 0 0 30px 0;
		}

			.list-photo li img {
				width: 100%;
			}

	#search input {
		width: 61%;
	}

	.img-indent1 {
		float: none;
		margin: 1px 0 16px;
	}

	.overflow.extra {
		overflow: visible;
	}

	#form-search input {
		width: 57%;
	}
}

.clearfix {
	*zoom: 1;
}

	.clearfix:before,
	.clearfix:after {
		display: table;
		content: "";
		line-height: 0;
	}

	.clearfix:after {
		clear: both;
	}

.hide-text {
	font: 0/0 a;
	color: transparent;
	-webkit-text-shadow: none;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.brand a img {
	max-height: 70px;
}

.thumbnail span a {
	font-size: 150%;
}

	.thumbnail span a:hover {
		color: black;
	}

.calendar {
	background-image: url("../../Images/Icons/calendar.png");
}

.icon20 {
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	-moz-background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}

.meta span {
	margin-left: 5px;
}

/*.breadcrumb li {
	background: url(../Images/marker-1.png) no-repeat 0 7px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.breadcrumb li:first-child {
	background:none !important;
	padding-left: 10px;
	padding-bottom: 10px;
}*/

.breadcrumbs {
	box-shadow: 0 0 15px 1px #000000;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
}

	.breadcrumbs a {
		text-decoration: none;
		outline: none;
		display: block;
		float: left;
		font-size: 12px;
		line-height: 36px;
		color: white;
		/*need more margin on the left of links to accomodate the numbers*/
		padding: 0 10px 0 30px;
		background: #666;
		background: linear-gradient(#666, #333);
		position: relative;
	}
		/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
		.breadcrumbs a:first-child {
			padding-left: 10px;
		}

		/*hover/active styles*/
		.breadcrumbs a.active, .breadcrumbs a:hover {
			background: #333;
			background: linear-gradient(#333, #000);
		}

			.breadcrumbs a.active:after, .breadcrumbs a:hover:after {
				background: #333;
				background: linear-gradient(135deg, #333, #000);
			}

		/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
		.breadcrumbs a:after {
			content: '';
			position: absolute;
			top: 0;
			right: -18px; /*half of square's length*/
			/*same dimension as the line-height of .breadcrumb a */
			width: 36px;
			height: 36px;
			/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
			-moz-transform: scale(0.707) rotate(45deg);
			-ms-transform: scale(0.707) rotate(45deg);
			-o-transform: scale(0.707) rotate(45deg);
			-webkit-transform: scale(0.707) rotate(45deg);
			transform: scale(0.707) rotate(45deg);
			/*we need to prevent the arrows from getting buried under the next link*/
			z-index: 1;
			/*background same as links but the gradient will be rotated to compensate with the transform applied*/
			background: #666;
			background: linear-gradient(135deg, #666, #333);
			/*stylish arrow design using box shadow*/
			box-shadow: 2px -3px 0 2px firebrick, 3px -3px 0 2px firebrick;
			/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
			border-radius: 0 5px 0 50px;
		}
		/*we dont need an arrow after the last link*/

		.breadcrumbs a:last-child:after {
			box-shadow: 2px -2px 0 2px transparent, 3px -3px 0 2px transparent;
		}

/*we will use the :before element to show numbers*/

.flat a, .flat a:after {
	background: white;
	color: black;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

	.flat a:before {
		background: white;
		box-shadow: 0 0 0 1px #ccc;
	}

	.flat a:hover, .flat a.active,
	.flat a:hover:after, .flat a.active:after {
		background: firebrick;
		color: white;
	}

.table-2 {
	margin-bottom: 0;
}

	.table-2 tr td {
		width: 50%;
	}

.sub-heading {
	background: firebrick;
	color: white;
	padding: 5px;
}


.meta a {
	color: firebrick;
}

.thumbnail .image {
	width: 164px;
	height: 164px;
}

.thumb {
	max-width: 100%;
}

#panel .navbar .nav > li.home > a img {
	color: inherit;
}

.nav-top-collapse {
	color: inherit;
}

.test {
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	border: 1px solid firebrick;
	-webkit-box-shadow: 0 0 18px 0 firebrick;
	-moz-box-shadow: 0 0 18px 0 firebrick;
	box-shadow: 0 0 18px 0 firebrick;
}

	.test p {
		font-size: x-large;
		color: firebrick;
	}

	.test label {
		display: inline-block;
		padding-left: 5px;
		padding-top: 2px;
		margin: 0;
		color: firebrick;
		font-size: larger;
	}

	.test .answer {
		display: block;
	}

.pad-15 {
	padding: 15px;
}

.news-list {
	margin: 20px;
	display: block;
}

	.news-list li {
		display: inline-block;
		width: 256px;
		padding: 15px;
	}

		.news-list li .news-thumb {
			display: block;
			width: 100%;
		}

			.news-list li .news-thumb img {
				margin-bottom: -26px;
			}


		.news-list li .comments-counter {
			position: relative;
			left: 0;
			bottom: 0;
			display: inline-block;
		}

			.news-list li .comments-counter a {
				color: firebrick;
				display: block;
				width: 100%;
				height: 100%;
				background-color: white;
				border-top-right-radius: 5px;
				padding: 3px;
				text-align: center;
			}

				.news-list li .comments-counter a:hover {
					color: #000000;
				}








@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}

	to {
		background-position: 0 0;
	}
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px #000000;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px #000000;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 #000000;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 #000000;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress-striped .progress-bar {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
	background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
	background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
	background-color: firebrick;
}

.progress-striped .progress-bar-danger {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.box-30 {
	width: 29%;
}

a:hover, .list li a:hover {
	color: black;
}

ul.list {
	width: 100%;
}

.comments-container {
}

	.comments-container img {
		width: 64px;
		height: 64px;
	}

article h4 a {
	text-rendering: optimizelegibility;
}

#add-comment textarea {
	width: 50%;
}

	#add-comment textarea:focus {
		border-color: rgba(178, 34, 34, 0.8);
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(178, 34, 34, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(178, 34, 34, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(178, 34, 34, 0.6);
	}


    .pagination {
  display: inline-block;
  padding-left: 0;
  /*margin: 20px 0;*/
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: firebrick;
  border-color: firebrick;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
