@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section Styles
{
    @Styles.Render("~/bundles/MorrisStyles")
}
@section Scripts
{
    @Scripts.Render("~/bundles/MorrisScripts")
    <script src="~/Scripts/Dashboard/dashboard-demo.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Панель управления</h1>
    </div>
</div>