@model IEnumerable<Comment>
<p>@ViewBag.Result</p>
<div class="comments-container" id="comments">
    @{
        if (Model != null)
        {
            foreach (Comment comment in Model)
            {

                <div class="comment">
                    <span style="font-weight: bold">@comment.User.Name </span>
                    @comment.Text
                </div>
            }

        }
    }
</div>